# Local (Hardhat) default
BLOCKCHAIN_RPC=http://127.0.0.1:8545
PRIVATE_KEY=0xc9bfecb656df73252960208c134d26d6eafbaf51ba6fcb4b42f9f4c0be3fb71e   # from hardhat node output or a funded test key
CONTRACT_ADDRESS=0x249E7Ef8d2983D19509e8c4b7F5556e974EBCdb9
ETHERSCAN_API_KEY=
ID_PEPPER=optional-static-pepper

#2nd Iteration
# MongoDB connection
MONGO_URI=mongodb://127.0.0.1:27017/tourchain

# JWT secret for admin auth
JWT_SECRET=supersecretkey123

# Hardhat / local blockchain
BLOCKCHAIN_RPC=http://127.0.0.1:8545
PRIVATE_KEY=0x691a21e6094a0c471ab594b805b6c4a789089f8c378f5ace3692f788ef2f7f02
CONTRACT_ADDRESS=0x566724a98FF10ABFDCaa3A9fB09c35D8e061d6c2

# Optional: AI / other secrets
ETHERSCAN_API_KEY=
ID_PEPPER=optional-static-pepper


#3rd iteration
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=a_very_strong_and_secret_key_for_jwt
AI_SERVICE_URL=http://127.0.0.1:5001/predict

#4th Iteration

# --- Database (Shared by both backends) ---

MONGO_URI=
# --- Security ---

JWT_SECRET=a_very_strong_random_secret_for_the_tourist_app_1535

# --- Server Port ---
PORT=5000

# --- Blockchain (Used ONLY by this backend) ---
BLOCKCHAIN_RPC=http://127.0.0.1:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CONTRACT_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
