# Use the SAME MongoDB connection string as your tourist backend
MONGO_URI=MONGO_URI=mongodb://127.0.0.1:27017/tourchain_db?replicaSet=rs0

# IMPORTANT: Use a DIFFERENT and unique secret key for this backend
JWT_SECRET=a_completely_different_and_strong_secret_for_the_police_dashboard

# Run this backend on a different port to avoid conflicts
PORT=5001
